trunk/myproject_wid/WebContent/wsdl/com/chinatelecom/ismp/crm/CrmElecMaintainService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="http://service.elecmaintain.webservice.crm.cthq.com" xmlns:intf="http://service.elecmaintain.webservice.crm.cthq.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.elecmaintain.webservice.crm.cthq.com">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.elecmaintain.webservice.crm.cthq.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="exchangeResponse">
    <complexType>
     <sequence>
      <element name="exchangeReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="exchange">
    <complexType>
     <sequence>
      <element name="xmlStr" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="exchangeResponse">
     <wsdl:part element="impl:exchangeResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="exchangeRequest">
     <wsdl:part element="impl:exchange" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="CrmElecMaintainService">
     <wsdl:operation name="exchange">
       <wsdl:input message="impl:exchangeRequest" name="exchangeRequest"/>

       <wsdl:output message="impl:exchangeResponse" name="exchangeResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="CrmElecMaintainServiceSoapBinding" type="impl:CrmElecMaintainService">
     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="exchange">
       <wsdlsoap:operation soapAction=""/>

       <wsdl:input name="exchangeRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="exchangeResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="CrmElecMaintainServiceService">
     <wsdl:port binding="impl:CrmElecMaintainServiceSoapBinding" name="CrmElecMaintainService">
       <wsdlsoap:address location="http://localhost:9080/CRM-DEP/services/CrmElecMaintainService"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
