trunk/myproject_wid/WebContent/wsdl/com/chinatelecom/ismp/crm/IsmpCrmEngine-RPC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://crm.ismp.chinatelecom.com" xmlns:intf="http://crm.ismp.chinatelecom.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://rsp.crm.ismp.chinatelecom.com" xmlns:tns2="http://req.crm.ismp.chinatelecom.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://crm.ismp.chinatelecom.com">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://req.crm.ismp.chinatelecom.com">
			<import namespace="http://crm.ismp.chinatelecom.com"/>
			<import namespace="http://rsp.crm.ismp.chinatelecom.com"/>
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="createISMPUserReq">
				<sequence>
					<element name="cityID" nillable="true" type="xsd:string"/>
					<element name="prePaidSystemID" nillable="true" type="xsd:string"/>
					<element name="provinceID" nillable="true" type="xsd:string"/>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" nillable="true" type="xsd:string"/>
					<element minOccurs="0" name="userName" nillable="true" type="xsd:string"/>
					<element name="userPayType" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="WorkOrderNotifyCnfmReq">
				<sequence>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="orderNO" nillable="true" type="xsd:string"/>
					<element name="constNo" nillable="true" type="xsd:string"/>
					<element name="workOrderResult" nillable="true" type="xsd:int"/>
					<element name="workOrderResultDes" nillable="true" type="xsd:string"/>
					<element name="workOrderCnfmAdmin" nillable="true" type="xsd:string"/>
					<element name="workOrderCnfmTime" nillable="true" type="xsd:string"/>
					<element name="zipBizId" nillable="true" type="xsd:string"/>
					<element minOccurs="0" name="accessNo" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="WorkOrderNotifyReq">
				<sequence>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="orderNO" nillable="true" type="xsd:string"/>
					<element name="constNo" nillable="true" type="xsd:string"/>
					<element name="constTime" nillable="true" type="xsd:string"/>
					<element name="linkman" nillable="true" type="xsd:string"/>
					<element name="linkPh" nillable="true" type="xsd:string"/>
					<element name="custName" nillable="true" type="xsd:string"/>
					<element name="custnNum" nillable="true" type="xsd:string"/>
					<element name="conNo" nillable="true" type="xsd:string"/>
					<element name="actionFlag" nillable="true" type="xsd:int"/>
					<element name="svcBound" nillable="true" type="xsd:int"/>
					<element name="cN2Ip" nillable="true" type="xsd:string"/>
					<element name="zipBizId" nillable="true" type="xsd:string"/>
					<element name="eqProvince" nillable="true" type="xsd:string"/>
					<element minOccurs="0" name="smsNotCallbUrl" nillable="true" type="xsd:string"/>
					<element minOccurs="0" name="smsStCallbUrl" nillable="true" type="xsd:string"/>
					<element minOccurs="0" name="mmsNotCallbUrl" nillable="true" type="xsd:string"/>
					<element minOccurs="0" name="mmsStCallbUrl" nillable="true" type="xsd:string"/>
					<element minOccurs="0" name="wapPStCallbUrl" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="NotifyUserStateReq">
				<sequence>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="state" nillable="true" type="xsd:string"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="NotifyUserFeeTypeReq">
				<sequence>
					<element name="effectiveDate" nillable="true" type="xsd:string"/>
					<element minOccurs="0" name="prePaidSystemID" nillable="true" type="xsd:string"/>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" nillable="true" type="xsd:string"/>
					<element name="userPayType" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="ServiceCapabilitySubscriptionSyncReq">
				<sequence>
					<element name="serviceCapabilityID" nillable="true" type="xsd:string"/>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="updateType" type="xsd:int"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="OrderRelationUpdateNotifyReq">
				<sequence>
					<element name="optType" type="xsd:int"/>
					<element name="packageID" nillable="true" type="xsd:string"/>
					<element name="productId" nillable="true" type="xsd:string"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="CreateSubscriptionReq">
				<sequence>
					<element name="DA" nillable="true" type="xsd:string"/>
					<element name="DAType" type="xsd:int"/>
					<element name="FA" nillable="true" type="xsd:string"/>
					<element name="FAType" type="xsd:int"/>
					<element name="OA" nillable="true" type="xsd:string"/>
					<element name="OAType" type="xsd:int"/>
					<element name="PProductOfferID" nillable="true" type="xsd:string"/>
					<element maxOccurs="unbounded" minOccurs="1" name="packageID" nillable="true" type="xsd:string"/>
					<element maxOccurs="unbounded" minOccurs="1" name="productID" nillable="true" type="xsd:string"/>
					<element maxOccurs="unbounded" minOccurs="0" name="VerUserId" nillable="true" type="xsd:string"/>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="srcDeviceType" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="ModifySubscriptionReq">
				<sequence>
					<element name="DA" nillable="true" type="xsd:string"/>
					<element name="DAType" type="xsd:int"/>
					<element name="FA" nillable="true" type="xsd:string"/>
					<element name="FAType" type="xsd:int"/>
					<element name="OA" nillable="true" type="xsd:string"/>
					<element name="OAType" type="xsd:int"/>
					<element name="PProductOfferID" nillable="true" type="xsd:string"/>
					<element maxOccurs="unbounded" minOccurs="1" name="packageID" nillable="true" type="xsd:string"/>
					<element maxOccurs="unbounded" minOccurs="1" name="productID" nillable="true" type="xsd:string"/>
					<element maxOccurs="unbounded" minOccurs="0" name="oldVerUserId" nillable="true" type="xsd:string"/>
					<element maxOccurs="unbounded" minOccurs="0" name="VerUserId" nillable="true" type="xsd:string"/>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="srcDeviceType" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="WithdrawSubscriptionReq">
				<sequence>
					<element name="ID" nillable="true" type="xsd:string"/>
					<element name="IDType" type="xsd:int"/>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="srcDeviceType" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="GetSubscriptionReq">
				<sequence>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="srcDeviceType" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="WithdrawAllSubscriptionReq">
				<sequence>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="srcDeviceType" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="QuerySubscriptionHistoryReq">
				<sequence>
					<element name="endTime" nillable="true" type="xsd:string"/>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="srcDeviceType" type="xsd:int"/>
					<element name="startTime" nillable="true" type="xsd:string"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="SuspendSubscriptionReq">
				<sequence>
					<element name="ID" nillable="true" type="xsd:string"/>
					<element name="IDType" type="xsd:int"/>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="srcDeviceType" type="xsd:int"/>
					<element name="streamingNO" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="ResumeSubscriptionReq">
				<sequence>
					<element name="ID" nillable="true" type="xsd:string"/>
					<element name="IDType" type="xsd:int"/>
					<element name="srcDeviceID" nillable="true" type="xsd:string"/>
					<element name="srcDeviceType" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="SubscriptionSyncReq">
				<sequence>
					<element name="OPType" type="xsd:int"/>
					<element name="packageID" nillable="true" type="xsd:string"/>
					<element name="productID" nillable="true" type="xsd:string"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" type="xsd:int"/>
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rsp.crm.ismp.chinatelecom.com">
			<import namespace="http://crm.ismp.chinatelecom.com"/>
			<import namespace="http://req.crm.ismp.chinatelecom.com"/>
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="Response">
				<sequence>
					<element name="resultCode" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="CreateSubscriptionRsp">
				<sequence>
					<element minOccurs="0" name="effectiveTime" nillable="true" type="xsd:string"/>
					<element minOccurs="0" name="expireTime" nillable="true" type="xsd:string"/>
					<element name="resultCode" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="ModifySubscriptionRsp">
				<sequence>
					<element minOccurs="0" name="effectiveTime" nillable="true" type="xsd:string"/>
					<element minOccurs="0" name="expireTime" nillable="true" type="xsd:string"/>
					<element name="resultCode" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="WithdrawSubscriptionRsp">
				<sequence>
					<element name="expireTime" nillable="true" type="xsd:string"/>
					<element name="resultCode" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="SubInfo">
				<sequence>
					<element name="DA" nillable="true" type="xsd:string"/>
					<element name="DAType" type="xsd:int"/>
					<element name="FA" nillable="true" type="xsd:string"/>
					<element name="FAType" type="xsd:int"/>
					<element name="ID" nillable="true" type="xsd:string"/>
					<element name="IDType" type="xsd:int"/>
					<element name="OA" nillable="true" type="xsd:string"/>
					<element name="OAType" type="xsd:int"/>
					<element name="corpID" nillable="true" type="xsd:string"/>
					<element name="effectiveTime" nillable="true" type="xsd:string"/>
					<element name="expireTime" nillable="true" type="xsd:string"/>
					<element name="resumeTime" nillable="true" type="xsd:string"/>
					<element name="status" nillable="true" type="xsd:string"/>
					<element name="subscriptionTime" nillable="true" type="xsd:string"/>
					<element name="suspendTime" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="GetSubscriptionRsp">
				<sequence>
					<element name="resultCode" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="subInfo" nillable="true" type="impl:ArrayOf_tns1_SubInfo"/>
				</sequence>
			</complexType>
			<complexType name="SubHistoryInfo">
				<sequence>
					<element name="ID" nillable="true" type="xsd:string"/>
					<element name="IDType" type="xsd:int"/>
					<element name="operationTime" nillable="true" type="xsd:string"/>
					<element name="operationType" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="QuerySubscriptionHistoryRsp">
				<sequence>
					<element name="resultCode" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="subHistoryInfo" nillable="true" type="impl:ArrayOf_tns1_SubHistoryInfo"/>
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://crm.ismp.chinatelecom.com">
			<import namespace="http://rsp.crm.ismp.chinatelecom.com"/>
			<import namespace="http://req.crm.ismp.chinatelecom.com"/>
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="ArrayOf_tns1_SubInfo">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:SubInfo[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns1_SubHistoryInfo">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:SubHistoryInfo[]"/>
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="workOrderNotifyRequest">
		<wsdl:part name="workOrderNotifyReq" type="tns2:WorkOrderNotifyReq"/>
	</wsdl:message>
	<wsdl:message name="workOrderNotifyCnfmRequest">
		<wsdl:part name="workOrderNotifyCnfmReq" type="tns2:WorkOrderNotifyCnfmReq"/>
	</wsdl:message>




























	<wsdl:message name="workOrderNotifyResponse">
		<wsdl:part name="workOrderNotifyReturn" type="tns1:Response"/>
	</wsdl:message>
	<wsdl:message name="workOrderNotifyCnfmResponse">
		<wsdl:part name="workOrderNotifyCnfmReturn" type="tns1:Response"/>
	</wsdl:message>
	<wsdl:portType name="IsmpCrmEngine">














		<wsdl:operation name="workOrderNotify" parameterOrder="workOrderNotifyReq">
			<wsdl:input message="impl:workOrderNotifyRequest" name="workOrderNotifyRequest"/>
			<wsdl:output message="impl:workOrderNotifyResponse" name="workOrderNotifyResponse"/>
		</wsdl:operation>
		<wsdl:operation name="workOrderNotifyCnfm" parameterOrder="workOrderNotifyCnfmReq">
			<wsdl:input message="impl:workOrderNotifyCnfmRequest" name="workOrderNotifyCnfmRequest"/>
			<wsdl:output message="impl:workOrderNotifyCnfmResponse" name="workOrderNotifyCnfmResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IsmpCrmEngineSoapBinding" type="impl:IsmpCrmEngine">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
			<wsdl:operation name="workOrderNotify">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://crm.ismp.chinatelecom.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://crm.ismp.chinatelecom.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="workOrderNotifyCnfm">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://crm.ismp.chinatelecom.com" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://crm.ismp.chinatelecom.com" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IsmpCrmEngineService">
		<wsdl:port binding="impl:IsmpCrmEngineSoapBinding" name="IsmpCrmEngine">
			<wsdlsoap:address location="http://localhost:9080/CRM-DEP/services/IsmpCrmEngine"/>
		</wsdl:port>
	</wsdl:service>
	<!--WSDL created by Apache Axis version: 1.2.1
Built on Aug 08, 2005 (11:49:10 PDT)-->
</wsdl:definitions>
