myproject_wid/WebContent/wsdl/com/chinatelecom/ismp/crm/CrmService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.dax.com" xmlns:intf="http://service.dax.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.dax.com">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://service.dax.com">
   <element name="HBWorkSheet">
    <complexType>
     <sequence>
      <element name="_b" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="HBWorkSheetResponse">
    <complexType>
     <sequence>
      <element name="HBWorkSheetReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="HBWorkSheetRequest">

      <wsdl:part element="impl:HBWorkSheet" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="HBWorkSheetResponse">

      <wsdl:part element="impl:HBWorkSheetResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="CrmService">

      <wsdl:operation name="HBWorkSheet">

         <wsdl:input message="impl:HBWorkSheetRequest" name="HBWorkSheetRequest"/>

         <wsdl:output message="impl:HBWorkSheetResponse" name="HBWorkSheetResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CrmServiceSoapBinding" type="impl:CrmService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="HBWorkSheet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="HBWorkSheetRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="HBWorkSheetResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CrmServiceService">

      <wsdl:port binding="impl:CrmServiceSoapBinding" name="CrmService">

         <wsdlsoap:address location="http://localhost:9080/CRM-DEP/services/CrmService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
